@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    scroll-behavior: smooth;
}

:root {
    --charcoal: #111827ff;
    --steel: #1f2937ff;
    --slate: #374151ff;
    --cool-gray: #9ca3afff;
    --off-white: #f9fafbff;
    --oxford-blue: #1b263bff;
}

body {
    background-color: var(--off-white);
    height: 100%;
}

/* ---------------------------- Navbar --------------------------- */

nav {
    padding: 30px 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 90px;
}
nav ul li a {
    text-decoration: none;
    color: var(--charcoal);
    font-size: 18px;
    padding: 8px 5px;
}

nav ul a:hover {
    text-decoration: underline;
}

nav ul li.navLogo {
    margin-right: auto;
}

.navLogoImg {
    width: auto;
    height: 50px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    nav {
        padding: 30px 5px;
    }

    nav ul li {
        margin-right: 35px;
    }

    nav ul li.navLogo {
        margin-right: 180px;
    }

    .navLogoImg {
        width: auto;
        height: 40px;
    }
}

/* ------------------------- Navbar End ----------------------------- */



/* ------------------------- Home Page ------------------------------ */

.hero {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: end;
    padding: 300px 0 0 700px; 
}

.hero h1 {
    font-size: 30px;
    font: bold;
}

.heroLogoBg {
    background: var(--charcoal);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 350px;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroPara {
    color: var(--slate);
    margin-top: 10px;
    font-size: 15px;
    width: 650px;
}

.heroLogo {
    width: 80px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.heroLogo:hover {
    transform: rotateY(180deg);
}

.heroSocials {
    width: 500px;
    height: 50px;
    gap: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 300px 700px;
}

.heroSocials .icon {
    width: 30px;
    height: 30px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .hero {
        padding: 300px 0px 0px 40px;
    }

    .hero h1 {
        font-size: 90px;
    }
    
    .hero p {
        font-size: 30px;
    }
    
    .heroLogoBg {
        position: absolute;
        right: 70px;
        top: 200px;
        width: 280px;
        height: 280px;
    }

    .heroLogo {
        width: 120px;
        height: 150px;
    }

    .heroSocials {
        width: 500px;
        height: 50px;
        gap: 15px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0 300px 40px;
    }

    .heroSocials .icon {
        width: 50px;
        height: 50px;
    }
}

/* ------------------------- Home Page End ------------------------------ */




/* ------------------------- Projects Page ------------------------------ */


.proHead {
    font-family: 'Alfa Slab One';
    padding: 12px 0 50px 100px;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 100px 100px;
    margin-bottom: 100px;
}

.projectsSec {
    width: 300px;
    height: 400px;
    border: 1px solid var(--charcoal); 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.projectsSec:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px var(--cool-gray);
}

.projectsSec h2 {
    display: flex;
    justify-content: center;
}

.projectsSec .date {
    font-size: 13px;
    margin-left: 160px;
}

.pi {
    width: 295px;
    height: 200px;
}

.pi:hover {
    filter:grayscale();
}

mark {
    background-color: var(--slate);
    color: var(--off-white);
    padding: 0 4px; 
}

.caption {
    padding: 10px;
    font-size: 15px;
    max-width: 300px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .proHead {
        font-family: 'Alfa Slab One';
        padding: 12px 0px 0px 50px;
    }

    .projectsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0px 50px 50px;
        margin-bottom: 250px;
    }

    .projectsSec {
        width: 300px;
        height: 350px;
        border: 1px solid var(--charcoal); 
        padding: 30px 10px 10px 0px;
        margin-bottom: 50px;
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }

    .pi {
        width: 270px;
        height: 120px;
    }
}


/* ------------------------- Projects Page End ------------------------------ */



/* ---------------------------  Footer -------------------------------------- */

footer {
    width: full;
    background-image: linear-gradient(to right, var(--charcoal) , rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.footerHeading {
    color: var(--off-white);
    font-size: 20px;
    margin-bottom: 10px;
}

.footerPara1 {
    display: flex;
    justify-content: center;
}

.footerPara2 {
    display: flex;
    justify-content: center;
}

.footerPara11 {
    color: var(--off-white);
    font-size: 15px;
}

.footerSocials {
    margin-top: 5px;
    gap: 3px;
    display: flex;
    justify-content: center;
    filter: invert(1) grayscale(100%) brightness(200%);
}

@media (max-width: 1024px) {
    footer {
        width: full;
        height: 350px;
        background-image: linear-gradient(to right, var(--charcoal) , rgba(0, 0, 0, 0.8));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px 5px 90px 5px;
    }

    .footerHeading {
        color: var(--off-white);
        font-size: 22px;
        margin-bottom: 10px;
    }
}

/* ------------------------- Footer End --------------------------------- */



/* ------------------------- Blogs Page ---------------------------------- */
.bloghead {
    font-family: 'Alfa Slab One';
    padding: 10px 0 50px 100px;
}
.blogCardHolder {
    display: grid;
    grid-template-columns: (2, 1fr);
    display: flex;
    padding: 0px 100px 50px 100px;
    gap:30px;
    
}
.blogCard {
    width: 650px;
    height: 400px;
    border: 1px solid var(--charcoal); 
    transition: transform 0.1s ease-in-out;
}

.blogCard:hover {
    scale: 105%;
    box-shadow: 2px 2px 5px var(--cool-gray);
}

.blogCardHolder2 {
    display: grid;
    grid-template-columns: auto auto;
    display: flex;
    padding: 0px 100px 50px 100px;
    gap:20px;
}

.blogCard21 {
    width: 700px;
    height: 500px;
    border: 1px solid var(--charcoal); 
    transition: transform 0.1s ease-in-out;
}

.blogCard22 {
    width: 300px;
    height: 250px;
    border: 1px solid var(--charcoal); 
    transition: transform 0.1s ease-in-out;
}

/* ------------------------- Blogs Page End --------------------------------- */



/* ------------------------- About Page ------------------------------------- */

.aboutMainHead {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.aboutHead {
    display: flex;
    font-family: 'Alfa Slab One';
    margin: 10px 0px 0px 100px;
    cursor: pointer;
}

.aboutPara {
    font-size: 18px;
    padding: 0px 0px 0px 100px;
    word-break: normal;
    width: 1400px;
    
}

.aboutSpan {
    color: black;
}

.formnDes {
    display: flex;
    padding: 50px 0px 0px 100px;
    align-items: center;
    height: 600px;
}

.des {
    width: 700px;
    height: 500px;
    background: #000;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .aboutMainHead {
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
    }
    
    .aboutHead {
        display: flex;
        font-family: 'Alfa Slab One';
        margin: 10px 0px 0px 50px;
        cursor: pointer;
    }

    .aboutPara {
        font-size: 16px;
        padding: 0px 0px 0px 50px;
        word-break: normal;
        max-width: 650px;
    }

    .formnDes {
        display: flex;
        padding: 50px 0px 0px 50px;
        margin-bottom: 300px;
        align-items: center;
        height: 600px;
    }
    
    .des {
        width: 300px;
        height: 500px;
        background: #000;
    }
}



/* -------------------------------- Form -------------------------------------- */

.subscribe {
    max-width: 400px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid var(--cool-gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.subscribe p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    font-size: 14px;
}

.subscribe h2 {
    text-align: center;
    margin-bottom: 10px;
}

.subscribeForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribeForm label {
    font-weight: bold;
    font-size: 14px;
}

.subscribeForm input {
    padding: 10px;
    border: 1px solid var(--charcoal);
    font-size: 14px;
    outline: none;
}

.subscribeForm input:focus {
   border: 2px solid var(--charcoal);
}

.subscribeForm button {
    padding: 10px;
    background-image: linear-gradient(to right, var(--slate) , var(--charcoal), var(--slate));
    color: var(--off-white);
    font-size: 14px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .subscribe {
        max-width: 260px;
        margin: auto;
        margin-bottom: 100px;
        padding: 20px;
        border: 1px solid var(--cool-gray);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
}

/* ------------------------- About Page End ---------------------------------- */
