@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    scroll-behavior: smooth;
}

:root {
    --charcoal: #111827ff;
    --steel: #1f2937ff;
    --slate: #374151ff;
    --cool-gray: #9ca3afff;
    --off-white: #f9fafbff;
    --oxford-blue: #1b263bff;
    --purl-orange: #f1856f;
    --matte-green: #afd2a2;
}

body {
    background-color: var(--off-white);
    height: 100%;
}

/* ---------------------------- Navbar --------------------------- */

nav {
    padding: 30px 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul > li {
    margin-right: 50px;
}
nav ul > li > a {
    text-decoration: none;
    color: var(--charcoal);
    font-size: 18px;
    padding: 8px 5px;
    transition: transform 0.3s ease;
    display: inline-block; /* This is something really compulsory when you are adding scaling */
}

nav ul > li:not(.navLogo) a:hover {
    transform: scale(1.6);
    color: var(--cool-gray);
}

nav ul > li > a.active {
    transform: scale(1.6);
    font-weight: bold;
}

nav ul > li.navLogo {
    margin-right: auto;
}

.navLogoImg {
    width: auto;
    height: 50px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    nav {
        padding: 30px 5px;
    }

    nav ul li {
        margin-right: 30px;
    }

    nav ul li.navLogo {
        margin-right: 180px;
    }

    .navLogoImg {
        width: auto;
        height: 40px;
    }
}

/* ------------------------- Home Page ------------------------------ */

.hero {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: end;
    padding: 300px 0 0 700px; 
}

.hero h1 {
    font-size: 30px;
    font: bold;
}

.heroLogoBg {
    background: var(--charcoal);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 350px;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroPara {
    color: var(--slate);
    margin-top: 10px;
    font-size: 15px;
    width: 650px;
}

.heroLogo {
    width: 80px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.heroLogo:hover {
    transform: rotateY(180deg);
}

.heroSocials {
    width: 500px;
    height: 50px;
    gap: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 300px 700px;
}

.heroSocials .icon {
    width: 30px;
    height: 30px;
}

.animeObj {
    width: 90px;
    height: 90px;
    background: var(--charcoal);
    position: absolute;
    top: 200px;
    left: 100px;
    animation: moveAndColor 8s infinite ease-in-out;
    z-index: 10; 
}

@keyframes moveAndColor{
    0% {
        top: 200px;
        left: 600px;
        background:var(--cool-gray);
    }
    25% {
        top: 600px;
        left: 570px;
        background:var(--matte-green);
    }
    50% {
        top: 200px;
        left: 100px;
        background:var(--oxford-blue);
    }
    75% {
        top: 700px;
        left: 100px;
        background:var(--purl-orange);
    }
    100% {
        top: 200px;
        left: 600px;
        background:var(--slate);
    }
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .hero {
        padding: 300px 0px 0px 40px;
    }

    .hero h1 {
        font-size: 90px;
        z-index: 11;
    }
    
    .hero p {
        font-size: 25px;
        width: 600px;
        z-index: 11;
    }
    
    .heroLogoBg {
        position: absolute;
        right: 70px;
        top: 200px;
        width: 280px;
        height: 280px;
        z-index: 11;
    }

    .heroLogo {
        width: 120px;
        height: 150px;
        z-index: 11;
    }

    .heroSocials {
        width: 500px;
        height: 50px;
        gap: 15px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 20px 0 300px 40px;
        z-index: 11;
    }

    .heroSocials .icon {
        width: 50px;
        height: 50px;
        z-index: 11;
    }
    
    .animeObj {
        width: 90px;
        height: 90px;
        background: var(--charcoal);
        position: absolute;
        top: 200px;
        left: 100px;
        animation: moveAndColor 8s infinite ease-in-out;
        z-index: 10; 
    }
}

/* ------------------------- Projects Page ------------------------------ */

.proHead {
    font-family: 'Alfa Slab One';
    padding: 12px 0 50px 100px;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 100px 100px 100px;
    margin-bottom: 100px;
}

.projectsSec {
    width: full;
    height: auto;
    margin: 20px;
    border: 1px solid var(--charcoal); 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    display: flex;
}

.projectsSec:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px var(--cool-gray);
}

.projectsSec h2 {
    display: flex;
    justify-content: center;
}

.projectsSec time[target] {
    font-size: 13px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    color: var(--oxford-blue);
}

.figCont {
    display: grid;
    grid-template-rows: (3, 1fr);
    align-items: center;
    padding: 20px;
}

.pi {
    width: full;
    height: 300px;
}

mark {
    background-color: var(--slate);
    color: var(--off-white);
    padding: 0 4px; 
}

.caption {
    padding: 10px;
    font-size: 15px;
    max-width: 800px;
}

.backToTop {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    margin: 20px 100px 50px auto;
    background-color: var(--charcoal);
    color: var(--off-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 2px 5px var(--cool-gray);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .projectsList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 10px 10px 10px;
        margin-bottom: 100px;
    }

    .projectsSec {
        width: 600px;
        height: auto;
        margin: 20px;
        border: 1px solid var(--charcoal); 
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        display: flex;
    }

    .pi {
        width: 300px;
        height: 250px;
    }
}

/* ---------------------------  Footer -------------------------------------- */

footer {
    width: full;
    background-image: linear-gradient(to right, var(--charcoal) , rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.footerHeading {
    color: var(--off-white);
    font-size: 20px;
    margin-bottom: 10px;
}

.footerPara1 {
    display: flex;
    justify-content: center;
}

.footerPara2 {
    display: flex;
    justify-content: center;
}

.footerPara11 {
    color: var(--off-white);
    font-size: 15px;
}

.footerSocials {
    margin-top: 5px;
    gap: 3px;
    display: flex;
    justify-content: center;
    filter: invert(1) grayscale(100%) brightness(200%);
}

@media (max-width: 1024px) {
    footer {
        width: full;
        height: 350px;
        background-image: linear-gradient(to right, var(--charcoal) , rgba(0, 0, 0, 0.8));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px 5px 90px 5px;
    }

    .footerHeading {
        color: var(--off-white);
        font-size: 22px;
        margin-bottom: 10px;
    }
}

/* ------------------------- Blogs Page ---------------------------------- */

.blogCont {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.blogHead {
    padding: 10px 0 50px 100px;
    font-size: 150px;
    color: var(--oxford-blue);
    line-height: 0px;
   
}

.blogHead2 {
    padding: 10px 0 50px 60px;
    font-size: 150px;
    color: var(--slate);
    writing-mode: vertical-rl;
}

.mainCont {
    display: flex;
}

.cont {
    background-color: var(--matte-green);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
    height: 380px;
    box-shadow: 20px 20px 0.5px 10px solid black;
    display: flex;
    
}

.art1 {
    padding: 20px 60px 0px 60px;
}

.art2 {
    margin: 50px 10px 0px 10px;
    width: 250px;
}

.art2 h1 {
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 8px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 35px;
}

.art2 p {
    line-height: 18px;
    color: var(--charcoal);
}

.art1 h1 {
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 10px;
    font-size: 70px;
}

.art1 p {
    color: var(--steel);
}

.buttonCont {
    display: flex;
    justify-content: end;
}

.buttonCont button{
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0px 10px 0px 10px;
}

.buttonCont button::after {
    content: " →";
    position: relative;
    left: 0px;
    transition: left 0.3s ease;
}

.buttonCont button:hover::after {
    left: 5px;
}

.beforeSecondMainCont {
    padding: 0px 100px 0px 100px;
    margin-bottom: 50px;
    max-width: 1500px;
}

.beforeSecondMainCont h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 10px;
}

.secondMainCont {
    padding: 10px 50px 50px 100px ;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.secondMainCont > article {
    background: var(--slate);
    color: white;
    padding: 50px;

}

.secondMainCont > article h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.secondMainCont > article:nth-child(even) {
    background: var(--purl-orange);
    color: black;
}

.secondMainCont > article details {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

summary {
    list-style: none;
    color: #268bff;
}

summary:hover {
    text-decoration: underline;
}

details[open] summary::after {
    content: "(show less)";
}

@media (max-width: 1024px) {
    .blogCont {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
    }
    
    .blogHead {
        padding: 10px 0 50px 50px;
        font-size: 150px;
        margin-bottom: 50px;
        color: var(--oxford-blue);
        line-height: 0px;
    }
    
    .blogHead2 {
        padding: 10px 0px 50px 30px;
        font-size: 150px;
        color: var(--slate);
        writing-mode: vertical-rl;
    }
    
    .mainCont {
        display: flex;
    }
    
    .cont {
        background-color: var(--matte-green);
        margin-top: 10px;
        margin-bottom: 50px;
        width: 400px;
        height: 400px;
        box-shadow: 20px 20px 0.5px 10px solid black;
        
    }

    .art2 {
        margin: 50px 10px 0px 10px;
        width: 220px;
    }
    
    .art2 h1 {
        font-weight: bold;
        color: var(--charcoal);
        margin-bottom: 20px;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 10px;
    }
    
    .art2 p {
        line-height: 15px;
        color: var(--charcoal);
        font-size: 13px;
    }
    
    .art1 h1 {
        font-weight: bold;
        color: var(--charcoal);
        margin-bottom: 10px;
        font-size: 30px;

    }
    
    .art1 p {
        color: var(--steel);
        line-height: 15px;
        font-size: 13px;
    }
    
    .buttonCont {
        position: absolute;
        top: 550px;
        right: 60px;
    }
    
    .buttonCont button{
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px 10px 0px 10px;
    }
    
    .buttonCont button::after {
        content: " →";
        position: relative;
        left: 0px;
        transition: left 0.3s ease;
    }
    
    .buttonCont button:hover::after {
        left: 5px;
    }

    .secondMainCont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .secondMainCont > article {
        background: var(--slate);
        color: white;
        padding: 50px;
    
    }
    
    .secondMainCont > article h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .secondMainCont > article:nth-child(even) {
        background: var(--purl-orange);
        color: black;
    }
    
    .secondMainCont > article details {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
    }
    
    summary {
        font-weight: bold;
        list-style: none;
        color: #0078ff;
    }
    
    summary:hover {
        text-decoration: underline;
    }
    
    details[open] summary::after {
        content: "  (show less)";
    }
    
}

/* ------------------------- About Page ------------------------------------- */

.aboutMainHead {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.aboutCont {
    position: relative;
}

.aboutHead {
    display: flex;
    font-family: 'Alfa Slab One';
    margin: 10px 0px 0px 100px;
    cursor: pointer;
}

.aboutPara {
    font-size: 18px;
    padding: 0px 0px 50px 100px;
    word-break: normal;
    width: 1400px;
    z-index: 1; 
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    
}

.aboutSpan {
    color: black;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .aboutMainHead {
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
    }
    
    .aboutHead {
        display: flex;
        font-family: 'Alfa Slab One';
        margin: 10px 0px 0px 50px;
        cursor: pointer;
    }

    .aboutPara {
        font-size: 16px;
        word-break: normal;
        max-width: 600px;
    }

    .formDes {
        padding: 50px 10px 0px 10px;
        margin-bottom: 300px;
        align-items: center;
        height: 600px;
    }
    
    .des {
        width: 80px;
        height: 200px;
        background: #000;
    }
}

/* -------------------------------- Form -------------------------------------- */

.subscribe {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid var(--cool-gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.subscribe p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    font-size: 14px;
}

.subscribe h2 {
    text-align: center;
    margin-bottom: 10px;
}

.message {
    height: 100px;
    resize: none;
    border: 1px solid var(--charcoal);
    font-size: 14px;
    outline: none;
}

.conditionDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

#checkbox {
    border: 1px solid var(--charcoal);
}

.condition {
    font-size: 1px;
    color: var(--slate);
    opacity: 0.7;
    text-align: flex-start;
}

.subscribeForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribeForm label {
    font-weight: bold;
    font-size: 14px;
}

.subscribeForm input[type="text"],
.subscribeForm input[type="email"],
.subscribeForm input[type="textfield"] {
    padding: 10px;
    border: 1px solid var(--charcoal);
    font-size: 14px;
    outline: none;
}

.subscribeForm input:focus {
   border: 2px solid var(--charcoal);
}

.subscribeForm button {
    padding: 10px;
    background-image: linear-gradient(to right, var(--slate) , var(--charcoal), var(--slate));
    color: var(--off-white);
    font-size: 14px;
}

input:invalid {
    border: var(--cool-gray);
}

.radioDiv {
    color: var(--slate);
    opacity: 0.7;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .subscribe {
        max-width: full;
        margin: 50px 50px 50px 50px;
        padding: 20px;
        border: 1px solid var(--cool-gray);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
}
