@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    scroll-behavior: smooth;
}

:root {
    --charcoal: #111827ff;
    --steel: #1f2937ff;
    --slate: #374151ff;
    --cool-gray: #9ca3afff;
    --off-white: #f9fafbff;
    --oxford-blue: #1b263bff;
    --purl-orange: #f1856f;
    --matte-green: #afd2a2;
}

body {
    background-color: var(--off-white);
    height: 100%;
}

/* ---------------------------- Navbar --------------------------- */

nav {
    margin: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
    font-size: 1.2rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--charcoal);
    transition: transform 0.3s ease;
    display: inline-block;
}

nav ul li a img {
    width: 3rem;
    margin-right: 40rem;
}

nav ul li:not(.navLogo) a:hover {
    transform: scale(1.6);
    color: var(--cool-gray);
}

nav ul li a.active {
    transform: scale(1.6);
    font-weight: bold;
}

/* ------------------------- Home Page ------------------------------ */

.heroMain {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    padding: 20rem 2rem 20rem 40rem;
}
.heroMain h1 {
    font-size: 2.5rem;
}
.heroMain p {
    font-size: 1rem;
    width: 45rem;
}
.heroSocials {
    display: flex;
    gap: 1.1rem;
}
.heroMainLogo {
    position: absolute;
    top: 15rem;
    right: 20rem;
    width: 13rem;
    height: 13rem;
    background: var(--oxford-blue);
    border-radius: 50%;
}
.heroMainLogo img {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    height: 8.5rem;
    width: 7rem;
}
.heroMainLogo img:hover {
    animation: tilt 2s linear infinite;
    cursor: pointer;
    
}

@keyframes tilt {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}
/* ------------------------- Projects Page ------------------------------ */


.projectCont {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.proCont2 {
    display: flex;
    
}

.projectsSecMain {
    margin: 100px 50px 0px 0px; 
    background-color: rgba(0, 0, 0, 0.05);
    width: 1100px;
    height: 520px;
}

.projectsSec {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 150px 50px 0px 0px; 
    width: 1100px;
    height: 520px;
    box-shadow: 20px 100px 0.5px 10px solid black;
}
.proHead1 {
    padding: 50px 0px 0px 100px;
    font-size: 150px;
    color: var(--oxford-blue);
    line-height: 0px;
}

.proHead2 {
    margin: 50px 10px 0px 70px;
    font-size: 130px;
    color: var(--slate);
    writing-mode: vertical-rl;
}
.projectsSec {
    margin: 50px 100px 50px 250px;
}
.caption, .figCont {
    width: 1000px;
    margin-left: 50px;
}
.figCont {
    margin-top: 10px;
}

.pi {
    width: 1100px;
    height: 400px;
}
.projectHeading {
    margin-left: 30px;
    margin-bottom: 5px;
}
.backToTop {
    display: flex;
    justify-content: flex-end;
    margin: 20px 100px 50px auto;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .proHead1 {
        padding: 50px 0px 0px 20px;
        font-size: 100px;
        color: var(--oxford-blue);
        line-height: 0px;
    }
    
    .proHead2 {
        margin: 50px 10px 0px 0px;
        font-size: 100px;
        color: var(--slate);
        writing-mode: vertical-rl;
    }

    .projectsSecMain {
        margin: 150px 50px 0px 0px; 
        background-color: rgba(0, 0, 0, 0.05);
        width: 470px;
        height: 560px;
    }
    
    .projectsSec {
        background-color: rgba(0, 0, 0, 0.05);
        margin: 50px 50px 0px 140px; 
        width: 470px;
        height: 560px;
        box-shadow: 20px 100px 0.5px 10px solid black;
    }

    .pi {
        width: 470px;
        height: 400px;
    }

    .caption, .figCont {
        width: 400px;
        margin-left: 50px;
    }
    .figCont {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/* ---------------------------  Footer -------------------------------------- */

footer {
    width: full;
    background-image: linear-gradient(to right, var(--charcoal) , rgba(0, 0, 0, 0.8));
    padding: 2rem 0;
    text-align: center;
}
footer section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
footer section h2, .footerPara1, .footerPara2 {
    color: var(--off-white);
}
.footerSocials {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
    filter: invert(1) grayscale(100%) brightness(200%);
}

/* ------------------------- Blogs Page ---------------------------------- */

.blogCont {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.blogHead {
    padding: 10px 0 50px 100px;
    font-size: 150px;
    color: var(--oxford-blue);
    line-height: 0px;
   
}

.blogHead2 {
    padding: 10px 0 50px 60px;
    font-size: 150px;
    color: var(--slate);
    writing-mode: vertical-rl;
}

.mainCont {
    display: flex;
}

.cont {
    background-color: var(--matte-green);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
    height: 380px;
    box-shadow: 20px 20px 0.5px 10px solid black;
    display: flex;
    
}

.art1 {
    padding: 20px 60px 0px 60px;
}

.art2 {
    margin: 50px 10px 0px 10px;
    width: 250px;
}

.art2 h1 {
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 8px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 35px;
}

.art2 p {
    line-height: 18px;
    color: var(--charcoal);
}

.art1 h1 {
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 10px;
    font-size: 70px;
}

.art1 p {
    color: var(--steel);
}

.buttonCont {
    display: flex;
    justify-content: end;
}

.buttonCont button{
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0px 10px 0px 10px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border: none;
    color: black;
    text-decoration: none;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonCont button::after {
    content: " →";
    position: relative;
    left: 0px;
    transition: left 0.3s ease;
}

.buttonCont button:hover::after {
    left: 5px;
}

.beforeSecondMainCont {
    padding: 0px 100px 0px 100px;
    margin-bottom: 50px;
    max-width: 1500px;
}

.beforeSecondMainCont h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--charcoal);
    margin-bottom: 10px;
}

.secondMainCont {
    padding: 10px 50px 50px 100px ;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.secondMainCont > article {
    background: var(--slate);
    color: white;
    padding: 50px;

}

.secondMainCont > article h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.secondMainCont > article:nth-child(even) {
    background: var(--purl-orange);
    color: black;
}

.secondMainCont > article details {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

summary {
    list-style: none;
    color: #268bff;
}

summary:hover {
    text-decoration: underline;
    cursor:pointer;
}

details .open {
    display: none;
}

details[open] .closed {
    display: none;
}

details[open] .open {
    display: inline;
}

details summary { 
    list-style: none; 
    outline: none; 
}

@media (max-width: 1024px) {
    .blogCont {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
    }
    
    .blogHead {
        padding: 10px 0 50px 50px;
        font-size: 150px;
        margin-bottom: 50px;
        color: var(--oxford-blue);
        line-height: 0px;
    }
    
    .blogHead2 {
        padding: 10px 0px 50px 30px;
        font-size: 150px;
        color: var(--slate);
        writing-mode: vertical-rl;
    }
    
    .mainCont {
        display: flex;
    }
    
    .cont {
        background-color: var(--matte-green);
        margin-top: 10px;
        margin-bottom: 50px;
        width: 400px;
        height: 400px;
        box-shadow: 20px 20px 0.5px 10px solid black;
        
    }

    .art2 {
        margin: 50px 10px 0px 10px;
        width: 220px;
    }
    
    .art2 h1 {
        font-weight: bold;
        color: var(--charcoal);
        margin-bottom: 20px;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 10px;
    }
    
    .art2 p {
        line-height: 15px;
        color: var(--charcoal);
        font-size: 13px;
    }
    
    .art1 h1 {
        font-weight: bold;
        color: var(--charcoal);
        margin-bottom: 10px;
        font-size: 30px;

    }
    
    .art1 p {
        color: var(--steel);
        line-height: 15px;
        font-size: 13px;
    }
    
    .buttonCont {
        position: absolute;
        top: 550px;
        right: 60px;
    }
    
    .buttonCont button{
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px 10px 0px 10px;
    }
    
    .buttonCont button::after {
        content: " →";
        position: relative;
        left: 0px;
        transition: left 0.3s ease;
    }
    
    .buttonCont button:hover::after {
        left: 5px;
    }

    .secondMainCont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .secondMainCont > article {
        background: var(--slate);
        color: white;
        padding: 50px;
    
    }
    
    .secondMainCont > article h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .secondMainCont > article:nth-child(even) {
        background: var(--purl-orange);
        color: black;
    }
    
    .secondMainCont > article details {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
    }
    
    summary:hover {
        text-decoration: underline;
    }
    
    details .open {
        display: none;
    }
    
    details[open] .closed {
        display: none;
    }
    
    details[open] .open {
        display: inline;
    }
    
    details summary { 
        list-style: none; 
        outline: none; 
    }
    
}

/* ------------------------- About Page ------------------------------------- */

.aboutMainHead {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.aboutCont {
    position: relative;
}

.aboutHead {
    display: flex;
    font-family: 'Alfa Slab One';
    margin: 10px 0px 0px 100px;
    cursor: pointer;
}

.aboutPara {
    font-size: 18px;
    padding: 0px 0px 50px 100px;
    word-break: normal;
    width: 1400px;
    z-index: 1; 
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    
}

.aboutSpan {
    color: black;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .aboutMainHead {
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
    }
    
    .aboutHead {
        display: flex;
        font-family: 'Alfa Slab One';
        margin: 10px 0px 0px 50px;
        cursor: pointer;
    }

    .aboutPara {
        font-size: 16px;
        word-break: normal;
        max-width: 600px;
    }

    .formDes {
        padding: 50px 10px 0px 10px;
        margin-bottom: 300px;
        align-items: center;
        height: 600px;
    }
    
    .des {
        width: 80px;
        height: 200px;
        background: #000;
    }
}

/* -------------------------------- Form -------------------------------------- */

.subscribe {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid var(--cool-gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.subscribe p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    font-size: 14px;
}

.subscribe h2 {
    text-align: center;
    margin-bottom: 10px;
}

.message {
    height: 100px;
    resize: none;
    border: 1px solid var(--charcoal);
    font-size: 14px;
    outline: none;
}

.conditionDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

#checkbox {
    border: 1px solid var(--charcoal);
}

.condition {
    font-size: 1px;
    color: var(--slate);
    opacity: 0.7;
    text-align: flex-start;
}

.subscribeForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribeForm label {
    font-weight: bold;
    font-size: 14px;
}

.subscribeForm input[type="text"],
.subscribeForm input[type="email"],
.subscribeForm input[type="textfield"] {
    padding: 10px;
    border: 1px solid var(--charcoal);
    font-size: 14px;
    outline: none;
}

.subscribeForm input:focus {
   border: 2px solid var(--charcoal);
}

.subscribeForm button {
    padding: 10px;
    background-image: linear-gradient(to right, var(--slate) , var(--charcoal), var(--slate));
    color: var(--off-white);
    font-size: 14px;
}

input:invalid {
    border: var(--cool-gray);
}

.radioDiv {
    color: var(--slate);
    opacity: 0.7;
}

/*    iphone Pro Max Size    */

@media (max-width: 1024px) {
    .subscribe {
        max-width: full;
        margin: 50px 50px 50px 50px;
        padding: 20px;
        border: 1px solid var(--cool-gray);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
}
