@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
nav {
    padding: 30px 100px;
}
mark {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 4px; 
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin-right: 90px;
}
nav ul li a {
    font-family: 'Roboto Mono';
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 5px;
}
nav ul a:hover {
    text-decoration: underline;
}
nav ul li.logo {
    margin-right: auto;
}
.logopng {
    width: auto;
    height: 50px;
}
.hero {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: end;
    padding-left: 700px;
    padding-top: 300px;
}
.hero h1 {
    font-family: 'Roboto Mono';
    font-size: 30px;
    font: bold;
}
.round {
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 350px;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heropara {
    font-family: 'Roboto Mono';
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    font-size: 15px;
    width: 650px;
}
.logopng2 {
    width: 80px;
    height: 100px;
    transition: ease-in-out 0.3s;
}
.logopng2:hover {
    transform: rotateY(180deg);
}
.socials {
    width: 500px;
    height: 50px;
    gap: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    margin-left: 700px;
    margin-bottom: 300px;
}
.socials .icon {
    width: 30px;
    height: 30px;
}

.prohead {
    font-family: 'Alfa Slab One';
    padding-left: 100px;
    padding-top: 50px;
}
.projects {
    display: grid;
    grid-template-columns: auto auto  auto  auto;
    padding: 100px;
    font-family: 'Roboto Mono';
    margin-bottom: 100px;
}
.sec1 {
    width: 300px;
    height: 400px;
    border: 1px solid black; 
    transition: ease-in-out 0.1s;
}
.sec1:hover {
    scale: 105%;
    box-shadow: 2px 2px 5px gray;
    
}
.sec1 h2 {
    display: flex;
    justify-content: center;
}
.sec1 .date {
    font-size: 13px;
    margin-left: 160px;
}
.pi {
    width: 295px;
    height: 200px;
    
}
.pi:hover {
    filter:grayscale();
}
.caption {
    padding: 10px;
    font-size: 15px;
    max-width: 300px;
}

.aboutcont {
    padding: 100px;
    font-family: 'Alfa Slab One';
    
}


/* Footer */
footer {
    width: full;
    background-image: linear-gradient(to right, black , rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.footerh2 {
    color: white;
    font-family: 'Roboto Mono';
    font-size: 20px;
    margin-bottom: 10px;
}
.footerdiv {
    display: flex;
    justify-content: center;
}
.footerp {
    color: white;
    font-family: 'Roboto Mono';
    font-size: 15px;
}
.footersocials {
    margin-top: 5px;
    gap: 3px;
    display: flex;
    justify-content: center;
    filter: invert(1) grayscale(100%) brightness(200%);
}
