@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
nav {
    padding: 30px 100px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin-right: 90px;
}
nav ul li a {
    font-family: 'Roboto Mono';
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 5px;
}
nav ul a:hover {
    text-decoration: underline;
}
nav ul li.logo {
    margin-right: auto;
}
.logopng {
    width: auto;
    height: 50px;
}